body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  .hero {
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  main {
    padding: 20px;
    flex-grow: 1;
  }
  
  .projects-grid {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .projects-grid::-webkit-scrollbar {
    display: none;
  }
  
  .project-card {
    flex: 0 0 auto;
    width: 300px;
    margin-right: 20px;
    scroll-snap-align: center;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .project-card:hover {
    transform: scale(1.05); /* Scale up on hover */
    cursor: pointer;
  }
  
  .project-image {
    width: 100%;
    height: auto;
    cursor: pointer;
  }
  
  .project-card h3 {
    margin: 0;
  }
  
  .project-card p {
    color: #666;
    margin: 5px 0;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }